.tw-followCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: .8rem;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.tw-followCard-div {
    display: flex;
    flex-direction: column;
}

.tw-followCard-span {
    opacity: .6;
}

.tw-followCard-button {
    width: 130px;
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 100px;
    padding: 6px 16px;
    font-weight: bold;
}

.is-following {
    background: transparent;
    border: 2px solid rgb(70, 70, 70);
    color: whitesmoke;
}